body {
  background-color: #DCDCDC; /* gainsboro */
  font-family: courier;
  margin-bottom: 50px;
}

h1 {
  color: chocolate;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

h3 {
  color: #228B22; /* forestgreen */
  text-align: center;
}

.container {
  max-width: 550px;
  margin: auto;
  border: 2px solid white;
  padding: 15px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row div {
  display: flex;
  font-family: courier;
  background-color: #8FBC8F; /* darkseagreen */
  color: white;
  align-items: center;
  justify-content: center;
  margin: 15px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.row div:hover {
  background-color: #228B22; /* forestgreen*/
}

.row .reserved {
  background-color: #696969;
  pointer-events: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  font-family: inherit;
  color: inherit;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 20px;
  box-shadow: 2px 2px 2px 2px grey;
  position: absolute;
  top: 200px;
}

input {
  font-size: 80%;
  font-family: inherit;
  height: 30px;
}

#seats {
  width: 3em;
}

#submit, #cancelbtn {
  margin: 5px;
  background-color: #8FBC8F; /* darkseagreen */
  height: 50px;
  width: 90px;
  font-family: inherit;
  font-size: inherit;
}

#submit:hover, #cancelbtn:hover {
  cursor: pointer;
  color: #228B22; /* forestgreen */;
  border-radius: 5px;
  transform: scale(1.5) perspective(1px);
}

/* https://repl.it/repls/DarkcyanBasicDirectories */
